{% include 'sidebar.twig' with {'params':params} %}
<div class="w3-tag w3-red w3-middle w3-xxlarge w3-display-middle maboite firefox-display-center">
<div class="">
<h1>Erreur 404</h1>
la page "{{params.page}}" n'existe pas
</div>
</div>
</div>