{% include 'sidebar.twig' with {'params':params} %}
<div class="texte-blanc">
<h1>le paramètre utilisé est {{params.page}}</h1>
<p>les classes en CSS c'est trop bien!!!</p>
<a href="powershell.zip">powershell.zip</a>
</div>