{% include 'sidebar.twig' with {'params':params} %}
<div class="w3-container w3-center">
{% include 'header.twig' with {'params':params} %}
<div class="w3-cell-row">
<div class="w3-container panel-black w3-cell">
    <h2>Définitions</h2>
    <hr>
  </div>

</div>