<table class="w3-table w3-dark-grey">
<tbody>
<tr>
<td class="w3-right-align">  
    <label for="slots">Choisissez le nombre de slots</label><br>
    <input  class="w3-xlarge" type="number" name="slots" placeholder="ex:20" min="1" max="1000" id="range" required>
</td>
<td>
    <label for="crack">acceptez les version crackés</label><br>
  <select name="crack" id="crack" class="w3-xlarge">
    <option value='true'>non</option>
    <option value='false'>oui</option>
  </select>
</td>
</tr>
<tr>
<td class="w3-right-align"><label for="pvp">Activer le PVP</label><br>
  <select name="pvp" id="pvp" class="w3-xlarge">
    <option value='true'>oui</option>
    <option value='false'>non</option>
  </select></td>
<td><label for="difficulty">Difficulté</label><br>
  <select name="difficulty" id="difficulty" class="w3-xlarge">
    <option value='hard' >hard</option>
    <option value='normal' selected="selected">normal</option>
    <option value='easy'>easy</option>
    <option value='peaceful'>peaceful</option>
  </select></td>
</tr>
</tbody>
</table>