    <div class="w3-panel panel-black" style="border-top:solid 3px;">
      <h1>GABHOST</h1>
      <dfn>Gabhost <strike>Reloaded</strike> Refibered</dfn><br>
      <dfn>Toss a coin to your hoster</dfn>
    </div>