<h4>
    <div class="w3-rest">
        <div class="w3-third w3-hover-shadow" style="border-top:solid 3px; border-color:#DA0357;">
          <p>Essentiel 4€99</p>
          1 VCPU <img src="svg/cpu.svg" class="svg-icon svg-blanc"><br>
          2Go de RAM <img src="svg/ram.svg" class="svg-icon svg-blanc" style="transform: rotate(-45deg)"><br>
          4Go de disque dur <img src="svg/hdd.svg" class="svg-icon svg-blanc"><br>
          Slots : ILLIMITÉ <img src="svg/person.svg" class="svg-icon svg-blanc"><br>
          Base de données (mysql) : 1 <img src="svg/cloud-plus.svg" class="svg-icon svg-blanc"><br>
          Sauvegardes: 1 <img src="svg/cloud-arrow-down.svg" class="svg-icon svg-blanc"><br>
          tâches automatiques <img src="svg/clock-history.svg" class="svg-icon svg-blanc"><br>
          <br>
          +Minecraft<br>
          +Terraria<br>
          +Factorio<br>
          +Mumble<br><br>
        </div>
        <div class="w3-third w3-hover-shadow" style="border-top:solid 3px; border-color:#4C7BF4;">
          <p>Medium 7.99€</p>
          2 VCPU <img src="svg/cpu.svg" class="svg-icon svg-blanc"><br>
          4Go de RAM <img src="svg/ram.svg" class="svg-icon svg-blanc" style="transform: rotate(-45deg)"><br>
          16Go de disque dur <img src="svg/hdd.svg" class="svg-icon svg-blanc"><br>
          Slots : ILLIMITÉ <img src="svg/person.svg" class="svg-icon svg-blanc"><br>
          Base de données (mysql) : 3 <img src="svg/cloud-plus.svg" class="svg-icon svg-blanc"><br>
          Sauvegardes: 2 <img src="svg/cloud-arrow-down.svg" class="svg-icon svg-blanc"><br>
          tâches automatiques <img src="svg/clock-history.svg" class="svg-icon svg-blanc"><br>
          <br>
          +7 Days to die<br><br>
        </div>
        <div class="w3-third w3-hover-shadow" style="border-top:solid 3px; border-color:#29BB2B;">
          <p>GAMING 11.99€</p>
          3 VCPU <img src="svg/cpu.svg" class="svg-icon svg-blanc"><br>
          8Go de RAM <img src="svg/ram.svg" class="svg-icon svg-blanc" style="transform: rotate(-45deg)"><br>
          64Go de disque dur <img src="svg/hdd.svg" class="svg-icon svg-blanc"><br>
          Slots : ILLIMITÉ <img src="svg/person.svg" class="svg-icon svg-blanc"><br>
          Base de données (mysql) : 5 <img src="svg/cloud-plus.svg" class="svg-icon svg-blanc"><br>
          Sauvegardes: 3 <img src="svg/cloud-arrow-down.svg" class="svg-icon svg-blanc"><br>
          tâches automatiques <img src="svg/clock-history.svg" class="svg-icon svg-blanc"><br>
          <br>
          +Rust<br>
          +Ark<br><br>
        </div>
    </div>
</h4>