<h4>
<div class="w3-panel">
    <div class="w3-hover-shadow w3-half w3-mobile g-card">
      Anti-DDOS <img src="svg/shield-check.svg" class="svg-icon svg-blanc">
    </div>
    <div class="w3-hover-shadow w3-half w3-mobile g-card">
       Sous utilisateurs <img src="svg/person-plus.svg" class="svg-icon svg-blanc">
    </div>
    <div class="w3-hover-shadow w3-half w3-mobile g-card">
      Hébergé en France <img src="svg/Flag_of_France.svg" style="width: 1.2em;">
    </div>
    <div class="w3-hover-shadow w3-half w3-mobile g-card">
       livraison instantanée <img src="svg/lightning.svg" class="svg-icon svg-blanc">
    </div>
    <div class="w3-hover-shadow w3-half w3-mobile g-card">
      <strike>Sous-domaine votreserveur.gabhost.tk offert <img src="svg/share.svg" class="svg-icon svg-blanc"></strike><br>
      <dfn>cloudflare pas gentil</dfn>
    </div>
    <div class="w3-hover-shadow w3-half w3-mobile g-card">
       Installation en moins de 5 minutes <img src="svg/list-check.svg" class="svg-icon svg-blanc">
    </div>
</div>
</h4>